.bdpxw { 
  border-bottom-width: 91px;
  margin-bottom: 1px;
  line-height: 6px;
  margin-right: 65px;
  margin-right: 45px;
  margin-bottom: 94px;
  padding-bottom: 6px;
  padding-right: 96px;
  padding-right: 65px;
  margin-top: 43px;
  padding-right: 16px;
  font-size: 74px;
  padding-bottom: 34px;
  padding-right: 39px;
  border-bottom-width: 40px;
}
