.bdpxw { 
  border-bottom-width: 91px;
  margin-bottom: 1px;
  line-height: 6px;
  margin-right: 65px;
  margin-right: 45px;
  margin-bottom: 94px;
  padding-bottom: 6px;
  padding-right: 96px;
  padding-right: 65px;
  margin-top: 43px;
  padding-right: 16px;
  font-size: 74px;
  padding-bottom: 34px;
  padding-right: 39px;
  margin-left: 20px;
  line-height: 99px;
  border-left-width: 74px;
  margin-top: 65px;
  border-right-width: 58px;
  padding-top: 94px;
  font-size: 79px;
  font-size: 64px;
  margin-left: 4px;
  margin-bottom: 69px;
  border-bottom-width: 13px;
  margin-top: 27px;
  margin-left: 94px;
}
